.about-container {
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    justify-content: center;
    box-sizing: border-box;
}

.about-materials {
    display: flex;
    justify-content: space-between;
    height: 455px;
}


.about-material-image {
    display: flex;
    background-image: image-url("about_materials.png");
    width: 300px;
    height: auto;
    flex-direction: column;
    margin-left: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    width: 500px;
    

    .about-main-text {    
        p {
            display: flex;
            align-items: left;
            justify-content: center;
            font-family: 'Merriweather Sans', sans-serif;
            right: 250px;
            font-size: 24px;
            flex-direction: column;
            font-weight: bold;
        }
    }
    
    .about-sub-text {
        p {
            display: flex;
            text-align: left;
            font-family: 'Merriweather Sans', sans-serif;
            right: 250px;
            font-size: 14px;
            flex-direction: column;
        }
    }
}
