.about-main {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20vw;
    padding-right: 20vw;
    background-position: 50% 65%;
}

.about-image {
    display: flex;
    background-image: image-url("about_main.png");
    background-position: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;


}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    h2 {
        display: flex;
        text-align: center;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 25px;
        margin-left: -40px;
        flex-direction: column;  
        font-weight: bold;
    }

    p {
        display: flex;
        text-align: left;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 14px;
        flex-direction: column;
    }
}

.about-main-link {

    button {
        box-sizing: border-box;
        min-height: 40px;
        min-width: 500px;
        padding: 20px;
        border: 1px solid #E6E5E5;
        right: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 13px;
        border-radius: 2px;
        text-align: center;
    }

    .submit:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        font-weight: bold;
    }

    .submit{
        background-color: white;
        color: black;
        box-sizing: border-box;
        padding: 20px;
        transition: 0.3s;
        border: 2px solid black;

        value:hover {
            color: white;
        }
    }
}