body, html {
    height: 100%;
    width: 100%;
}

.about-sugar-sub-image {
    display: flex;
    background-image: image-url("about_sugar_sub.png");
    width: 100%;
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    margin-top: 150px;
}
    
.about-sugar-head-text {
    text-align: center;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 24px;
}
    
.about-sugar-sub-texts {
        margin-top: 5px;
        text-align: center;
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 16px;     
}
