.about-tree-container {
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    justify-content: center;
    box-sizing: border-box;
}

.about-tree-material {
    display: flex;
    justify-content: space-between;
    height: 455px;
}

.about-tree-image {
    display: flex;
    background-image: image-url("sm_bark.png");
    width: 500px;
    height: auto;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.tree-text {
    display: flex;
    flex-direction: column;
    width: 500px;

    .about-tree-text {
        p {
            display: flex;
            align-items: left;
            justify-content: center;
            font-family: 'Merriweather Sans', sans-serif;
            right: 250px;
            font-size: 24px;
            flex-direction: column;
            font-weight: bold;
        }
    }

    .about-tree-sub-text {
        p {
            display: flex;
            text-align: left;
            font-family: 'Merriweather Sans', sans-serif;
            right: 250px;
            font-size: 14px;
            flex-direction: column;
        }
    }
}
