.about-container {
    // display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    justify-content: center;
    box-sizing: border-box;
    // padding-left: 20vw;
    // padding-right: 20vw;
}

.about-materials {
    display: flex;
    justify-content: space-between;
    height: 455px;
}


.about-material-image {
    display: flex;
    //background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/s960x960/51946523_2527000433983684_5978738443335761920_o.jpg?_nc_cat=105&_nc_oc=AQlpvt1z8E5ePPPSKhXSHDMb3wlABbjxwjkqYY9N12ByBmuiYjVjFZ8rPpy47GY-_cJfeB2PcIEARPbN5k0Saf5Y&_nc_ht=scontent-sjc3-1.xx&oh=5c2bd2f7b9f6f1340ea5bf6dd7e0a3ef&oe=5E4E340F");
    // background-position: 50% 85%;
    background-image: image-url("about_materials.png");
    width: 300px;
    height: auto;
    flex-direction: column;
    // margin: -10% -12% -11.1% 50%;
    // margin: 110px 5px 5px 70px;
    margin-left: 10px;
    // margin-top: -50px;
    // margin-right: 50px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    // min-height: 500px;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    width: 500px;
    // align-items: center;
    // justify-content: center;
    // left: 900px;
    

    .about-main-text {    
        p {
            display: flex;
            align-items: left;
            justify-content: center;
            font-family: 'Merriweather Sans', sans-serif;
            right: 250px;
            font-size: 24px;
            // left: 480px;
            // position: relative;
            flex-direction: column;
            font-weight: bold;
        }
    }
    
    .about-sub-text {

        p {
            display: flex;
            text-align: left;
            font-family: 'Merriweather Sans', sans-serif;
            right: 250px;
            font-size: 14px;
            // left: 480px;
            // position: relative;
            flex-direction: column;
        }
    }
}
