body, html {
    height: 100%;
    width: 100%;
}

/* The hero image */
.accessories-main-image {
  // background-position: bottom;
  display: flex;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.bizj.us/view/img/11416605/sourceallbirds*800xx1211-683-54-0.jpg");

  /* Set a specific height */
  height: 55vh;
  width: 59.2vw;

  /* Position and center the image to scale nicely on all screens */
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  margin-top: 50px;
  margin-left: 368px;
}

.accessories-text {
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    position: relative;
    // top: 400px;
    // left: 35%;
    // margin-left: -100px;
    bottom: 500px;
    width: 650px;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    transition: .2s;
    font-family: sans-serif;
    font-size: 28px;
    margin-top: 850px;
    // .link {
    //     .link-text {
    //         .shoe-link {

    //         }
    //     }
    // }
    
    // .link-text {
    //     border-bottom: 2px solid white;
    //     margin: 20px;
    //     padding: 0px 60px 0px 60px;
    //     padding-bottom: 10px;
    //     bottom: 20px;
    // }
    // .link:hover{
    //   margin: -10px 10px -10px 10px;
    //   color: white;
    // }
}


.link {
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: row;
    position: absolute;
    // top: 400px;
    // left: 35%;
    margin-left: 175px;
    bottom: 50px;
    width: 650px;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    transition: .2s;
    font-family: sans-serif;
    font-size: 14px;
    
    .link-text {
        border-bottom: 2px solid white;
        margin: 20px;
        padding: 0px 60px 0px 60px;
        padding-bottom: 10px;
    }
    .link:hover{
      margin: -10px 10px -10px 10px;
      color: white;
    }
}