body, html {
    height: 100%;
    width: 100%;
}

.accessories-main-image {
  display: flex;
  background-image: image-url("accessories_img.png");
  height: 55vh;
  width: 59.2vw;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  margin-top: 50px;
  margin-left: 368px;
}

.accessories-text {
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    position: relative;
    bottom: 500px;
    width: 650px;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    transition: .2s;
    font-family: sans-serif;
    font-size: 28px;
    margin-top: 850px;
}


.link {
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: row;
    position: absolute;
    margin-left: 175px;
    bottom: 50px;
    width: 650px;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    transition: .2s;
    font-family: sans-serif;
    font-size: 14px;
    
    .link-text {
        border-bottom: 2px solid white;
        margin: 20px;
        padding: 0px 60px 0px 60px;
        padding-bottom: 10px;
    }
    .link:hover{
      margin: -10px 10px -10px 10px;
      color: white;
    }
}