.payment-form {
    height: 100vh;
    background-color: #f1ebe6;
    box-sizing: border-box;
    .payment-form-container {
        background-color: #F1EBE7;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: 50% 100%;
        padding-top: 250px;
        h2 {
            font-family: 'HurmeGeometricSans3-Bold', Helvetica, Arial, sans-serif;
            font-size: 1.5em;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        .submit-payment {
            background-color: black;
            display: block;
            font-family: 'HurmeGeometricSans3-SemiBold', Helvetica, Arial, sans-serif;
            font-size: 0.75em;
            text-transform: uppercase;
            color: #333;
            margin-top: 20px;
            margin-bottom: 90px;
            text-align: center;
        }
    } 
    .project-links {
        display: flex;
        justify-content: center;
    }
    .project-git, .project-linkedin, .project-angel {
        font-weight: bold;
        margin: 0 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        color: solid white;
        text-decoration: none;
    } 
}
