.shoe-bar-filters {
    .shoe-bar-filter-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-right: 80px;
        height: 80px;
        li {
            user-select: none;
        }
    }
}
#Black {
    background-color: rgb(65, 65, 65);
    &:hover {
       background-color: rgb(90, 90, 90);
       cursor: pointer;
    }
}
#Grey {
    background-color: rgb(199, 199, 199);
    &:hover {
       background-color: rgb(211, 211, 211);
       cursor: pointer;
    }
}
#White {
    background-color: rgb(240, 240, 230);
    &:hover {
       background-color: rgb(245, 246, 238);
       cursor: pointer;
    }
}
#Red {
    background-color: #b41e37;
    &:hover {
       background-color: #ce2440;
       cursor: pointer;
    }
}
#Green {
    background-color: #475c3f;
    &:hover {
       background-color: #58754d;
       cursor: pointer;
    }
}
#Blue {
    background-color: #100858;
    &:hover {
       background-color: #3e358a;
       cursor: pointer;
    }
}
.color-dropdown-attributes {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: beige;
    background-position: top;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 20px;
    &:hover {
        cursor: pointer;
    }
    h4 {
        transform: translateY(35px);
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: black;
    }
}
.style-dropdown-attributes {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: beige;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &:hover {
        cursor: pointer;
        h4 {
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
            transition: .1s;
            color: black;
        }
    }
    h4 {
        transform: translateY(18px);
        color: black;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
}
#Runners {
    background: image-url("silhouette_runner.png"); 
    cursor: pointer;
}
#Loungers {
    background: image-url("silhouette_lounger.png"); 
    cursor: pointer;
}
#Skippers {
    background: image-url("silhouette_skipper.png"); 
    cursor: pointer;
}
#Toppers {
    background: image-url("silhouette_topper.png"); 
    cursor: pointer;
}
#Runners, 
#Loungers,
#Skippers,
#Toppers {
    background-size: 40px;
    background-position: top; 
    background-repeat: no-repeat;
    margin-left: 40px;
}
.material-dropdown-attributes {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: beige;
    background-position: top;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 20px;
    &:hover {
        border: 2px solid rgba(207, 207, 207, 0.863);
        cursor: pointer;
    }
    h4 {
        transform: translateY(35px);
        color: black;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
}
#Wool {
    background-color: rgb(240, 240, 230);
    &:hover {
        background-color: rgb(245, 246, 238);
        cursor: pointer;
    }
}
#Tree {
    background-color: #2d5c1a;
    &:hover {
        background-color: #58754d;
        cursor: pointer;
    }
}