body, html {
  height: 100%;
  width: 100%;
}
a:visited {
  color: white;
}
.main-image {
  display: flex;
  background-image: image-url("main.png");
  height: 90vh;
  width: 100vw;
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
}
.header-text {
  margin-top: -160px;
  text-align: center;
  transform: rotate(-6deg);
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 72px;
  letter-spacing: 10px;
  font-weight: 650;
}
.main-links {
  a:visited {
    color: white;
  }
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    width: 650px;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    transition: .2s;
    font-family: sans-serif;
    font-size: 14px;
    .link-text {
      a:visited {
        color: white;
      }
        border-bottom: 2px solid white;
        margin: 20px;
        padding: 0px 60px 0px 60px;
        padding-bottom: 10px;
    }
    .main-link:hover{
      margin: -10px 10px -10px 10px;
      color: white;
    }
}