.materials-main {
    width: 100%;
    footer {
        height: 200px;
        width: 100%;
        background-color: #1f3131;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        font-family: 'Poppins', sans-serif;
        vertical-align: baseline;
    }
}
a:visited {
   color: white;
}
.images-panel {
    display: flex;
    justify-content: center;
    margin-left: 20vw;
    margin-right: 20vw;
}
.left-image-panel {
    width: 50vw;
    padding: 0px;
    box-sizing: border-box;
}
.left-image {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: image-url("left_main.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 50%;
    position: relative;
}
.left-small-image, .left-gif{
    float: left;
    background-position: relative;
    background-size: cover;
    width: 50%;
    height: auto;
    padding-top: 50%;
    background-image: image-url("materials_main_leftsmallimg.png");
}
 .left-gif {
    background-image: image-url("left.gif");
}
.left-image-text {
    position: relative;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 32px;
    color: white;
    .left-links {
        display: flex;
        justify-content: space-between;
        width: 330px;
        position: absolute;
        bottom: -75px;
        color: white;
        .left-link-text {
            display: flex;
            flex-direction: row;
            color: white;
            align-items: center;
            .left-link {
                border-bottom: 2px solid white;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                color: white;
            }
            .left-link:hover {
                color: white;
            }
        }
    }
}
.right-image-panel {
    width: 50vw;
    padding: 0px;
    box-sizing: border-box;

}
.right-image {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: image-url("materials_main_rightimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
    width: 100%;
    position: relative;
}
.right-small-image, .right-gif{
    float: left;
    background-position: relative;
    background-size: cover;
    width: 50%;
    padding-top: 50%;
    background-image: image-url("materials_main_rightsmimg.png");
}
 .right-gif {
    background-image: image-url("right.gif");
}
.right-image-text {
    position: relative;
    bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 32px;
    color: white;
    .right-links {
        display: flex;
        justify-content: space-between;
        width: 330px;
        position: absolute;
        bottom: -75px;
        color: white;
        .right-link-text {
            display: flex;
            flex-direction: row;
            color: white;
            align-items: center;
            .right-link {
                border-bottom: 2px solid white;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                color: white;
                
            }
            .right-link:hover {
                color: white;
            }
        }
    }
}

