body, html {
    height: 100%;
    width: 100%;
}

.material-image {
  display: flex;
  background-image: image-url("wool.png");
  height: 85.3vh;
  width: 100vw;
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
}

.header-text {
  margin-top: -100px;
  text-align: center;
  transform: rotate(-6deg);
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 72px;
  letter-spacing: 10px;
  font-weight: 650;
}

.material-types {
    display: flex;
    align-items: center;
    z-index: 1;
    height: 75px;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid lightgray;

    .material-link {

        margin: 10px;

        button {
            box-sizing: border-box;
            min-width: 175px;
            padding: 0px 60px 0px 60px;
            border: 1px solid #E6E5E5;
            right: 60px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 13px;
            border-radius: 2px;
            text-align: center;
        }
    
        .submit:hover {
            cursor: pointer;
            background-color: black;
            color: white;
            font-weight: bold;
        }
    
        .submit{
            background-color: white;
            color: black;
            box-sizing: border-box;
            padding: 20px;
            transition: 0.3s;
            border: 2px solid black;
    
            value:hover {
                color: white;
            }
        }
    }
}