body, html {
    height: 100%;
    width: 100%;
}

.trino {
  footer {
        height: 200px;
        width: 100vw;
        background-color: #1f3131;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        display: flex;
        vertical-align: baseline;
  }
}

.more-trino-main-image {
    display: flex;
    background-image: image-url("more_materials.png");
    height: 690px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}