body, html {
    height: 100%;
    width: 100%;
}
a {
    color: black;
}
a:visited {
    color: black;
}
.women-shoe-image {
    display: flex;
    background-image: image-url("women.png");
    height: 65vh;
    width: 100vw;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    box-sizing: inherit;
    .shoe-header-text {
        text-align: center;
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        .shoe-header-title {
            font-size: 48px;
        }
        .shoe-header-texts {
            font-size: 16px;
        }
    }
}
.shoe-bar {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    border-bottom: 1px solid gray;
    top: 0px; 
    .left-bar p {
        position: relative;
        width: 220px;
        left: 1%;
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-left: 50px;
        top: 4px;
    }
    ul li {
        margin: 10px;
    }
    .open-filter-dropdown {
        max-height: 200px;
    }
    .close-filter-dropdown {
        max-height: 0px;
    }
    .animation-wipe {
        animation: wipe .5s;
    }
   .right-bar {
        position: relative;
        width: 350px;
        right: 1%;
        justify-content: space-evenly;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        &:hover {
            cursor: pointer;
            user-select: none;
        } 
        .shoe-filter-container {
            display: flex;
            height: 40px;
            margin-left: 10px;
            align-items: flex-start;
            justify-content: flex-end;
            overflow: hidden;     
            .swipe-left {
                animation: swipe-left .3s;
            }  
            h2 {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                margin-left: 10px;
            }
            h5 {
                margin-left: 10px;
                box-sizing: border-box;
                width: 20px;
            }
            .x {
                font-size: 18px;
            }
            .minus {
                font-size: 32px;
            }
            .drop-down {
                margin-top: 15px;
                font-size: 16px;
            } 
        }
    }
}
.men-shoe-image {
    display: flex;
    background-image: image-url("men.png");
    height: 65vh;
    width: 100vw;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    box-sizing: inherit;
    .shoe-header-text {
        text-align: center;
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        .shoe-header-title {
            font-size: 48px;
        }
        .shoe-header-texts {
            font-size: 16px;
        }
    }
}
.shoe-index-item {
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    position: relative;
    list-style-type: none;
    .shoe-image {
        display: flex;
        margin: 10px;
        img {
            width: 300px;
        }
    }
}
.shoe {
    footer {
        height: 200px;
        width: 100%;
        background-color: #1f3131;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        font-family: 'Poppins', sans-serif;
        vertical-align: baseline;
    }
}
.shoe-index-text {
    font-family: sans-serif;
    margin-top: 75px;
    margin-left: 300px;
    font-size: 24px;
    line-height: 1.31;
}
.shoe-category {
    display: flex;
    flex-wrap: wrap;  
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
.shoe-index-item:hover {
    box-shadow: 50px 50px 50px 50px #ebe8e8;
}

