body, html {
    height: 100%;
    width: 100%;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.women-shoe-image {
    display: flex;
    //background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/72719538_2976901318993591_5782509277436444672_n.jpg?_nc_cat=110&_nc_oc=AQmDiU4Y0bQ7DEmDNSE9QEz91KdX6jt0BP7o0HlLOsd1_bbJQGyulESEafY63jWwjKQ&_nc_ht=scontent-sjc3-1.xx&oh=947649aaa10724767f153eb9ba156b80&oe=5E485B0B");
    background-image: image-url("women.png");
    height: 65vh;
    width: 100vw;

    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    box-sizing: inherit;

    .shoe-header-text {
        text-align: center;
        // transform: rotate(-6deg);
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        .shoe-header-title {
            font-size: 48px;
        }

        .shoe-header-texts {
            font-size: 16px;
        }
    }
}

.shoe-bar {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    //position: fixed;
    //width: 100vw;
    z-index: 10;
    border-bottom: 1px solid gray;
    //padding: 160px 100px 0px 10px;
   // box-sizing: border-box;
    //text-align: center;
    top: 0px; //for fixed and absolute

    .left-bar p {
        position: relative;
        width: 220px;
        left: 1%;
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-left: 50px;
        top: 4px;
    }

    ul li {
        margin: 10px;
    }

    .open-filter-dropdown {
        max-height: 200px;
    }

    .close-filter-dropdown {
        max-height: 0px;
    }

    .animation-wipe {
        animation: wipe .5s;
    }

   .right-bar {
        position: relative;
        width: 350px;
        right: 1%;
        justify-content: space-evenly;
        // float: right;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            user-select: none;
        }
        
        .shoe-filter-container {
            display: flex;
            height: 40px;
            margin-left: 10px;
            align-items: flex-start;
            justify-content: flex-end;
            overflow: hidden;
            
            .swipe-left {
                animation: swipe-left .3s;
            }  

            h2 {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                // padding-top: 14px;
                margin-left: 10px;
            }

            h5 {
                margin-left: 10px;
                box-sizing: border-box;
                width: 20px;
            }

            .x {
                font-size: 18px;
                // padding-top: 14px;
            }

            .minus {
                font-size: 32px;
                // padding: 8px 0 0 3px;
            }

            .drop-down {
                // padding-top: 19px;
                // padding-left: 3px;
                margin-top: 15px;
                font-size: 16px;
            } 
        }
    }
}

    // .dropdown {
    //     position: relative;
    //     display: inline-block;
    // }

    // .dropdown-content {
    //     display: none;
    //     flex-direction: row;
    //     justify-content: space-evenly; 
    //     position: absolute;
    //     background-color: white;
    //     min-width: 130px;
    //     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    //     z-index: 1;
    // }

    


.men-shoe-image {
     display: flex;
     background-image: image-url("men.png");
    //background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1549480170%2Fallbirds-new-colorways-ALLBIRDSNEW0219.jpg%3Fitok%3DDbzhFLCb&q=85");
    height: 65vh;
    width: 100vw;

    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    box-sizing: inherit;

    .shoe-header-text {
        text-align: center;
        // transform: rotate(-6deg);
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        .shoe-header-title {
            font-size: 48px;
        }

        .shoe-header-texts {
            font-size: 16px;
        }
    }
}

.shoe-index-item {
    // display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    // width: 50%;
    padding: 0px;
    position: relative;
    list-style-type: none;

    .shoe-image {
        // width: 300px;
        // height: 275px;
        // background-position: 50% 85%;
        display: flex;
        margin: 10px;
    
        img {
            width: 300px;
        }
    }
}

.shoe {
    footer {
        height: 200px;
        width: 100%;
        background-color: #1f3131;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        font-family: 'Poppins', sans-serif;
        vertical-align: baseline;
    }
}

.shoe-index-text {
    font-family: sans-serif;
    margin-top: 75px;
    margin-left: 300px;
    font-size: 24px;
    line-height: 1.31;
}

.shoe-category {
    display: flex;
    flex-wrap: wrap;  
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    // width: 50%;
    // justify-content: space-between;
}


.shoe-index-item:hover {
    box-shadow: 50px 50px 50px 50px #ebe8e8;
}



// img.grey-shoe img.black-shoe{
//     width: 300px;
//     height: 300px;
//     // background-position: 50% 85%;
// }

// .dropdown-bar {
//     position: relative;
//     display: inline-block;
//     .right-side {
//         float: right;
//         position: relative;
//         //margin-right: 500px;
//         width: 220px;
//         // right: 1%;
//         display: flex;
//         justify-content: space-between;
//         font-family: sans-serif;
//         font-size: 12px;
//         .types {
//             position: relative;
//             display: inline-block;

//             .dropdown-items {
//                 display: none;
//                 position: absolute;
//                 background-color: white;
//                 min-width: 130px;
//                 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//                 z-index: 1;
//             }

//             .dropdown:hover .dropdown-content {
//                 display: block;
//             }
//         }
//     }
// }

