.signup-errors {
    position: absolute;
    top: 150px;

    ul{
        padding: 0px;
    }

    li {
        list-style-type: none;
    }
}

.signup-form-container {
    background-color: #F1EBE7;
    display: flex;
    flex-direction: column;
    position: relative;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 215px 170px 215px 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 450;
    position: relative;
    
    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        margin-bottom: 0px;
    }

    input {
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid #E6E5E5;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 13px;
        border-radius: 2px;
    }

    .submit:hover {
        cursor: pointer;
        background-color: #EEE8E6;
        color: black;
    }

    .submit{
        background-color: black;
        color: white;
        box-sizing: border-box;
        padding: 20px;
        transition: 0.3s;
        border: 2px solid black;
    }
}

.first-p {
    margin-bottom: 70px;
}

.second-last-p {
    font-weight: 10px;
    font-size: 10px;
    margin-left: 50px;
}

.last-p {
    margin-left: 160px;
}


